{% extends 'main.html' %}

{% block head_block %}

{{ super() }}

<title>Вход</title>
<link href="../static/css/login.css" rel="stylesheet">

{% endblock %}

{% block body_block %}
    <h1>Вход</h1>

    <form method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <a href="{{url_for('main', page_name='register')}}">Ещё нет аккаунта?</a><br><br>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>

    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

{% endblock %}