<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('main', page_name='main')}}">Зеленые фрукты</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('main', page_name='main')}}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/category/movie">Кино</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/category/city">Город</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/category/medicine">Медицина</a>
                </li>
            </ul>

            {% if current_user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ current_user.login }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Выход</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('main', page_name='register')}}">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('main', page_name='login')}}">Вход</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>